In [1]:
import pandas as pd

In [2]:
import string
from nltk.corpus import stopwords

In [3]:
from sklearn.feature_extraction.text import CountVectorizer

In [4]:
vectorizer = CountVectorizer()

In [5]:
vectorizer

CountVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(1, 1), preprocessor=None, stop_words=None,
        strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
        tokenizer=None, vocabulary=None)

In [6]:
corpus = [
            'This is the first document.',
            'This is the second second document.',
            'And the third one. Yes, yes, yes this',
            'Is this the first document?'
]

In [7]:
vectorizer.fit(corpus)

CountVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(1, 1), preprocessor=None, stop_words=None,
        strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
        tokenizer=None, vocabulary=None)

In [8]:
vectorizer.get_feature_names()

['and',
 'document',
 'first',
 'is',
 'one',
 'second',
 'the',
 'third',
 'this',
 'yes']

In [9]:
X_dtm = vectorizer.transform(corpus)

In [10]:
print (X_dtm)

  (0, 1)	1
  (0, 2)	1
  (0, 3)	1
  (0, 6)	1
  (0, 8)	1
  (1, 1)	1
  (1, 3)	1
  (1, 5)	2
  (1, 6)	1
  (1, 8)	1
  (2, 0)	1
  (2, 4)	1
  (2, 6)	1
  (2, 7)	1
  (2, 8)	1
  (2, 9)	3
  (3, 1)	1
  (3, 2)	1
  (3, 3)	1
  (3, 6)	1
  (3, 8)	1

In [11]:
X_dtm.toarray()

array([[0, 1, 1, 1, 0, 0, 1, 0, 1, 0],
       [0, 1, 0, 1, 0, 2, 1, 0, 1, 0],
       [1, 0, 0, 0, 1, 0, 1, 1, 1, 3],
       [0, 1, 1, 1, 0, 0, 1, 0, 1, 0]])

In [13]:
pd.DataFrame(data=X_dtm.toarray(), columns=vectorizer.get_feature_names(), index=['doc_'+str(i+1) for i in range(4)])

       and  document  first  is  one  second  the  third  this  yes
doc_1    0         1      1   1    0       0    1      0     1    0
doc_2    0         1      0   1    0       2    1      0     1    0
doc_3    1         0      0   0    1       0    1      1     1    3
doc_4    0         1      1   1    0       0    1      0     1    0

In [14]:
print (vectorizer.vocabulary_.get('and'))

0

In [15]:
print (vectorizer.vocabulary_.get('yes'))

9

In [16]:
print (vectorizer.vocabulary_)

{'one': 4, 'first': 2, 'second': 5, 'third': 7, 'this': 8, 'is': 3, 'yes': 9, 'the': 6, 'and': 0, 'document': 1}

In [17]:
vectorizer.transform(['This is my second, yes']).toarray()

array([[0, 0, 0, 1, 0, 1, 0, 0, 1, 1]])

In [20]:
bigram_vectorizer = CountVectorizer(ngram_range=(1,2), token_pattern=r'\b\w+\b|,')

In [21]:
X2_dtm =bigram_vectorizer.fit_transform(corpus)

In [22]:
X2_dtm

<4x27 sparse matrix of type '<class 'numpy.int64'>'
	with 42 stored elements in Compressed Sparse Row format>

In [23]:
for x in bigram_vectorizer.get_feature_names():
    print (x, ' ** ',)

,  **
, yes  **
and  **
and the  **
document  **
first  **
first document  **
is  **
is the  **
is this  **
one  **
one yes  **
second  **
second document  **
second second  **
the  **
the first  **
the second  **
the third  **
third  **
third one  **
this  **
this is  **
this the  **
yes  **
yes ,  **
yes this  **

In [24]:
pd.DataFrame(data=X2_dtm.toarray(), columns=bigram_vectorizer.get_feature_names(), index=['doc_'+str(i+1) for i in range(4)])
#pd.DataFrame(data=X_dtm.toarray(), columns=vectorizer.get_feature_names(), index=['doc_'+str(i+1) for i in range(4)])

,",",", yes",and,and the,document,first,first document,is,is the,is this,...,the second,the third,third,third one,this,this is,this the,yes,"yes ,",yes this
doc_1,0,0,0,0,1,1,1,1,1,0,...,0,0,0,0,1,1,0,0,0,0
doc_2,0,0,0,0,1,0,0,1,1,0,...,1,0,0,0,1,1,0,0,0,0
doc_3,2,2,1,1,0,0,0,0,0,0,...,0,1,1,1,1,0,0,3,2,1
doc_4,0,0,0,0,1,1,1,1,0,1,...,0,0,0,0,1,0,1,0,0,0